/* Nothing here should be recorded */

body {
  font-family: sans-serif;
  margin: 5px;
  padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
  }


  /* Footer info; footer li are the list items; it could also be separated into a left and right but not now */
  #footer {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    background-color: rgb(235, 235, 235);
    overflow: hidden;
  }
  
  #footer li {
      /* float: left; */
      display: inline-block;
  }
  
#nav-left{
    display: inline-block;
    width: 49%;
}
#nav-right{
    display: inline-block;
    width: 49%;
    text-align: right;
}


li a {
    color: #666;
  }

#main-logo img{
    border-width: 10px;
    border-color: rgb(255, 0, 43);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;    
}


/* This is used to center the search box; other ways to do this but this seems best */
.box.flex {
  display: flex;
  justify-content: center;
  border: solid rgb(235, 233, 233);
  border-width: 2px;
  border-radius: 50px;
  list-style-type: none;
  width: 30em;
  margin: 0 auto;
  padding: 0;
  }



#buttons{
   text-align: center;
   padding: 5pt;
   border: solid-black;
   border: 50pt;
}